:root {
  --theme-color: rgba(227, 51, 169, 1);
  --sidebar-width: 80vw; /* mobile */
  --code-inline-color: white;
  --code-block-line-height: 1.25;
  --code-inline-background: #14181e;
  --content-max-width: 80em;
  --link-color: var(--code-theme-punctuation);
  --link-color--hover: rgba(227, 51, 169, 0.75);
  --blockquote-em-font-style: italic;
  --blockquite-padding: 1rem;
  --sidebar-nav-pagelink-padding: 0.15em 0 0.15em 20px;
  --sidebar-nav-indent: 0.8em;

  --code-theme-function: #a6e22e;
  --code-theme-keyword: #f92672;
  --code-theme-operator: #f92672;
  --code-theme-punctuation: #66d9ef;
  --code-theme-selector: #ffee99;
  --code-theme-tag: #ec76da;
  --code-theme-text: #ffffff;
  --code-theme-variable: #ffffff;
  --code-theme-comment: #878787;

  --modular-scale: 1.25;
}

.app-nav {
  text-transform: uppercase;
  font-size: 0.85rem;
}

.app-nav:not(:empty) ~ main .markdown-section {
  padding-top: 4rem;
}

.operator + .type-declaration {
  color: var(--code-theme-function);
}

.token.static-context {
  color: var(--code-theme-punctuation);
}

.token.punctuation,
.token.property {
  color: var(--code-theme-variable);
}

.token.package .token.punctuation {
  color: var(--code-theme-keyword);
}

.token.description.string {
  color: var(--code-theme-comment);
}

.token.attr-name + .token.punctuation + .token.description.string {
  color: var(--code-theme-selector);
}

.token.class-name {
  color: #66d9ef;
}

@media only screen and (min-width: 768px) {
  :root {
    --sidebar-width: clamp(200px, 20vw, 400px);
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --modular-scale: 1.175;
    --base-line-height: 1.4;
    --code-font-size: var(--font-size-s);
  }
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3 {
  line-height: 1.2;
}

.markdown-section h1 + h2,
.markdown-section h1 + h3,
.markdown-section h1 + h4,
.markdown-section h1 + h5,
.markdown-section h1 + h6,
.markdown-section h1 + p {
  margin-top: 2rem;
}

pre.copy {
  white-space: normal !important;
}

pre.copy code {
  white-space: normal !important;
}

@media only screen and (min-width: 768px) {
  .sidebar-nav {
    line-height: 1.4;
  }
}

.sidebar-nav > ul > li {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.sidebar-nav > ul > li * {
  font-weight: 400;
  text-transform: none;
  font-size: clamp(0.85rem, 1vw, 0.95rem);
}

.sidebar-nav > ul > li + li {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--search-input-border-color);
}

.sidebar-nav > ul > li > ul {
  margin-left: 0;
}

.sidebar-nav > ul > li > ul:first-child {
  margin-top: 0.25em;
}

.sidebar > h1 img {
  width: clamp(40px, 5vw, 80px);
  height: auto;
}

iframe.ratio {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
  max-width: 680px;
}
